.deal-job {
    margin: 1rem 2rem;
}

.deal-job-title {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding-top: 1rem;
    position: sticky;
    top: 65px;
    z-index: 1;
    background-color: #fff;
}

.deal-job-title-name {
    font-size: 27px;
}

.deal-job-title-company {
    font-size: 14px;
    color: #a6a8ab;
}

.deal-job-title-apply {
    text-align: center;
}

.apply-button {
    width: 100%;
    margin: 1.5rem 0;
    font-size: 19px;
    background-color: #ea1e30;
    border: 1px solid #ea1e30;
    border-radius: 6px;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

.deal-job-salary {
    color: rgb(84, 136, 32);
    margin-top: 0.5rem;
}

.deal-job-time{
    margin-top: 0.5rem;
    color: rgb(67, 155, 238);
    padding-bottom: 1rem;
    border-bottom: 1px solid #e7e7e7;
}  

.deal-job-place{
    margin-top: 0.5rem;
    color: rgb(130, 132, 134);
}

.deal-job-reason {
    margin-top: 1rem;
}

.deal-job-reason-title {
    font-size: 23px;
    font-weight: 450;
}

.deal-job-reason-item {
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 500;
}

.deal-job-content {
    padding-bottom: 1rem;
}

.deal-job-footer {
    padding: 20px;
    background-color: #f5f5f5;
}

.deal-job-footer-company-name {
    font-size: 1.5em;
    width: 100%;
}

.deal-job-footer-company-des {
    color: #5c5a5b;
    font-size: 14px;
}

.deal-job-footer-title {
    margin-bottom: 1.5rem;
}

.deal-job-footer-content {
    font-size: 14px;
    color: #333;
}

.deal-job-footer-content-icon {
    color: #7a7a7a;
    margin-right: 5px;
}

.deal-job-footer-view-profile-company {
    background-color: white;
    border: 1px solid red;
    font-size: 15px;
    color: red;
    padding: 7px 1rem;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    cursor: pointer;
}

.deal-job-footer-view-profile-company:hover {
    color: white;
    background-color: red;
}