.apply-form {
    width: 70%;
    margin: 0 auto 2rem auto;
    background-color: white;
    padding: 1rem 4rem;
}

.apply-form-title {
    font-size: 24px;
    font-weight: 540;
    margin-bottom: 1rem;
}