.job{
    border-bottom: 1px solid #e7e7e7;
    padding: 27px 0;
    overflow: hidden;
    transition: 0.15s;
}

.job-clicked {
    border-top: 1px solid #f31f1f;
    border-right: 1px solid #f31f1f;
    border-bottom: 1px solid #f31f1f;
    border-left: 5px solid #f31f1f;
    padding: 27px 0;
    overflow: hidden;
    transition: 0.15s;
    background-color: blanchedalmond;
}

.job:hover {
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2)
}

.job-title {
    font-size: 20px;
    color: #231f20;
    font-weight: 550;
    line-height: 28px;
    cursor: pointer;
}

.job-salary {
    color: rgb(84, 136, 32);
}

.job:hover .job-title {
    color: rgb(219, 55, 55);
}

.job:hover .skill-tag {
    color: rgb(219, 55, 55);
}

.skill-tag-list {
    margin-top: 1rem;
    cursor: pointer;
}

.job-state {
    width: 100%;
    display: inline-block;
    padding: 0 1rem;
}

.job-place {
    width: 100%;
    text-align: right;
    padding: 0 1rem;
    color: rgb(148, 144, 144);
    margin-top: 1rem;
}

.job-date-up {
    width: 100%;
    text-align: right;
    padding: 0 1rem;
    color: rgb(95, 169, 238);
    margin-top: 1rem;
}
